.main {
}

.getConsultWrapper {
  margin-left: 80px;
  margin-top: 112px;

  .getConsultTitle {
    font-size: 48px;
    line-height: 57px;
    font-weight: 300;
    max-width: 736px;
  }

  .getConsultText {
    margin-top: 32px;
    line-height: 28px;
    font-weight: 300;
    font-size: 24px;
    max-width: 738px;
  }

  .getConsultButton {
    margin-top: 93px;
    border: 1px solid #e31d77;
    background-color: #e31d77;
    color: #fff;
    padding: 21px 55px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }

  .getConsultButton:hover {
    margin-top: 93px;
    border: 1px solid #232323;
    background-color: #232323;
    color: #fff;
    padding: 21px 55px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }
}

.advantagesWrapper {
  margin-top: 112px;
  height: 634px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../../public/bannerFirst.png");
  background-size: cover;
  background-position: center;
  position: relative;

  .advantagesText {
    display: flex;
    gap: 20px;
    flex-direction: row;
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    color: #fff;
    padding-left: 80px;
    padding-top: 48px;
  }
  .h2TextAdvantages {
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    color: #fff;
    padding-left: 80px;
    padding-top: 48px;
  }
}

.cardAdvantagesWrapper {
  background-color: #fff;
  max-width: 413px;
  max-height: 348px;
  padding: 56px;
  margin-top: 48px;
  border-radius: 50px;
  .h3Style {
    color: #e31d77;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }
  .p1Style {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .p2Style {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 40px;
  }
}

.buttonForDiscountWrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 112px;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 56px;
  background-color: #e31d77;
  border-radius: 50px;
  max-width: 955px;
  gap: 62px;
  .textButtonDiscount {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #fff;
  }
  .buttonForDiscount {
    background-color: transparent;
    border: none;
    cursor: pointer;
    --svg-stroke-color: #e31d77;
    transition: all 0.3s ease; 
  }

  .buttonForDiscount:hover {
    --svg-stroke-color: #920042; 
  }

  .buttonForDiscount svg path {
    stroke: var(--svg-stroke-color, #e31d77);
  }
}
