.getConsultWrapper {
  margin-left: 80px;
  margin-top: 112px;

  .getConsultTitle {
    font-size: 48px;
    line-height: 57px;
    font-weight: 300;
    max-width: 736px;
  }

  .getConsultText {
    margin-top: 32px;
    line-height: 28px;
    font-weight: 300;
    font-size: 24px;
    max-width: 738px;
  }

  .getConsultButton {
    margin-top: 93px;
    border: 1px solid #e31d77;
    background-color: #e31d77;
    color: #fff;
    padding: 21px 55px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }

  .getConsultButton:hover {
    margin-top: 93px;
    border: 1px solid #232323;
    background-color: #232323;
    color: #fff;
    padding: 21px 55px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
  }
}

.advantagesWrapper {
  margin-top: 112px;
  height: 634px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../../public/bannerFirst.png");
  background-size: cover;
  background-position: center;
  position: relative;

  .advantagesText {
    display: flex;
    gap: 20px;
    flex-direction: row;
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    color: #fff;
    padding-left: 80px;
    padding-top: 48px;
  }
  .h2TextAdvantages {
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    color: #fff;
    padding-left: 80px;
    padding-top: 48px;
  }
}

.cardAdvantagesWrapper {
  background-color: #fff;
  max-width: 413px;
  max-height: 348px;
  padding: 56px;
  margin-top: 48px;
  border-radius: 50px;
  .h3Style {
    color: #e31d77;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }
  .p1Style {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .p2Style {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 40px;
  }
}

.buttonForDiscountWrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 112px;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 56px;
  background-color: #e31d77;
  border-radius: 50px;
  max-width: 955px;
  gap: 62px;
  .textButtonDiscount {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #fff;
  }
  .buttonForDiscount {
    background-color: transparent;
    border: none;
    cursor: pointer;
    --svg-stroke-color: #e31d77;
    transition: all 0.3s ease;
  }

  .buttonForDiscount:hover {
    --svg-stroke-color: #920042;
    transition:  --svg-stroke-color 0.3 ease;
  }

  .buttonForDiscount svg path {
    stroke: var(--svg-stroke-color, #e31d77);
  }
}

.servicesWrapper {
  margin-top: 112px;
  margin-left: 80px;
  .servicesTitle {
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    margin-bottom: 48px;
  }
  .bannerWithCards {
    display: flex;
    flex-direction: row;
    gap: 93px;
  }
  .ServicesCardWrapperOnPage {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .ServicesCardWrapper {
    padding-left: 56px;
    padding-top: 24px;
    padding-bottom: 56px;
    border-radius: 50px;
    width: 630px;
    max-height: 164px;
    background-color: #fff;
    .pStyle {
      color: #000;
      font-size: 24px;
      font-weight: 300;
      line-height: 29px;
      max-width: 466px;
      position: relative;
      bottom: 30px;
    }
    .svgWrapper {
      display: flex;
      justify-content: end;
      padding-right: 24px;
      .svgArrow {
        transition: fill 0.3s ease;
        cursor: pointer;
      }

      .svgArrow circle {
        transition: fill 0.3s ease;
      }

      .svgArrow:hover circle {
        fill: #920042;
      }
    }
  }
}

.stocksWrapper {
  margin-top: 112px;
  margin-left: 80px;

   .bannersWithStocksThird {
    display: flex;
    padding-left: 56px;
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #fff;
    border-radius: 50px;
    max-height: 230px;
    max-width: 1280px;

    .Table{
        position: relative;
        bottom: 393px;
        right: 400px;
    }
    
    .Knot{
      position: relative;
      bottom: 210px;
      right: 80px;
      
    }

    .Helix{
      position: relative;
      right: 300px;
      top: 11px;

    }
    
  }

  .giftBannerTitleThird {
    margin-bottom: 16px;
    color: #000;
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
  }
  .giftBannerTextThird {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    width: 1168px;
  }

  .bannersWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .bannersWithStocksSecond {
    display: flex;
    gap: 28px;
    padding-left: 56px;
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #333333;
    border-radius: 50px;
    max-height: 230px;
    max-width: 1280px;
    .socialLinks{
      display: flex;
      gap:24px;
      align-items: center;
      justify-content: center;
    }
  }

  .giftBannerTitleSecond {
    margin-bottom: 16px;
    color: #fff;
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
  }
  .giftBannerTextSecond {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    max-width: 791px;
  }

  .stocksTitle {
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    margin-bottom: 48px;
  }

  .giftBanner {
    padding-left: 56px;
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #e31d77;
    border-radius: 50px;
    max-height: 230px;
    max-width: 1280px;

    .giftBannerTitle {
      margin-bottom: 16px;
      color: #fff;
      font-size: 48px;
      font-weight: 300;
      line-height: 56px;
    }

    .giftBannerText {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      color: #fff;
      max-width: 791px;
    }

    .giftBannerImage {
      position: relative;
      left: 714px;
      bottom: 176px;
    }
  }
}

.contacts {
  margin-left: 80px;
  margin-top: 112px;
  h2{
    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
  }
}

.footerDesktop{
  display: flex;
  flex-direction: row;
  gap: 128px;
}