.header{
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navList{
        display: flex;
        list-style: none;
        gap:48px;
        font-weight: 400;
        font-size: 16px;
        color: #232323;
        cursor: pointer;
    }

    .navListSocialMedia{
        display: flex;
        list-style: none;
        cursor: pointer;
        gap: 16px;
    }

    .buttonCall{
        color: #fff;
        background-color: #232323;
        padding: 13px 32px;
        border-radius:20px ;
        border: 1px solid #232323;
        cursor: pointer;
    }
    .buttonCall:hover{
        background-color: #fff;
        color: #232323;
    }
}
