.header{
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #fff;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navList{
        display: flex;
        list-style: none;
        gap:48px;
        font-weight: 400;
        font-size: 16px;
        color: #232323;
        cursor: pointer;
    }

    .navListSocialMedia{
        display: flex;
        list-style: none;
        cursor: pointer;
        gap: 16px;
    }

    .buttonCall{
        color: #fff;
        background-color: #232323;
        padding: 13px 32px;
        border-radius:20px ;
        border: 1px solid #232323;
        cursor: pointer;
    }
    .buttonCall:hover{
        background-color: #fff;
        color: #232323;
        transition: all 0.3s ease;
    }
    .navListSocialMediaItemWApp:hover svg g path  {
        fill: #920042;
        transition: all 0.3s ease;
    }

    .navListSocialMediaItemTg svg {
        --start-color: #333333; 
        --end-color: #333333;   
        transition: all 0.3s ease; 
    }
    
    .navListSocialMediaItemTg:hover svg {
        --start-color:  #920042; 
        --end-color:  #920042;   
    }

    .navListSocialMediaItemVK svg {
        --vk-fill-color: #333333; /* Цвет по умолчанию */
        transition: all 0.3s ease; /* Плавный переход */
    }
    
    .navListSocialMediaItemVK:hover svg {
        --vk-fill-color: #920042; /* Цвет при наведении */
    }
    
    

}
